.S_Card_svwci97 {
	height: 376px;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.S_ChartContainer_s1elhk20 {
	height: 100%;
	width: 45%;
}
