.TableCard_t1azemio {
	margin-bottom: 20px;
	overflow: scroll;
	padding-bottom: unset;
}
.StyledRowCount_s1x72292 {
	font-size: var(--fs-desktopM1);
	font-weight: var(--fw-semibold);
	margin-bottom: 20px;
	margin-left: 10px;
	display: inline-block;
}
.StyledPagingRow_s1pvbaz6 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
