footer.sticky-footer
	.text-center
		a(href='https://github.com/AdrianBZG/InterMine-Data-Browser-Tool' target='_blank' alt='Go to the GitHub repository')
			i.fa.fa-fw.fa-github
		| InterMine Data Browser &commat; GSoC 2020. By 
		a(href='http://www.linkedin.com/in/adrianbazaga' target='_blank') Adrián Rodríguez-Bazaga
		|, 
		a(href='http://intermine.org/' target='_blank') InterMine
		|  &amp; 
		a(href='http://cam.ac.uk/' target='_blank') University of Cambridge
