// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
	a.navbar-brand(href='/')
		img(src="/img/intermine-logo.png" style="width: 24px; height: 25px;")
	div#headerButtons.col-md-10.text-center
		a(href="/genes" data-toggle="tooltip" title="Change to Genes view")
			button.btn.btn-primary.btn-space(id="genesButton" type="button") Genes
		a(href="/proteins" data-toggle="tooltip" title="Change to Proteins view")
			button.btn.btn-default.btn-space(id="proteinsButton" type="button") Proteins
		select.form-control(style="width: 150px; position: fixed; top: 10px; right: 75px;")
			option(value="HumanMine") HumanMine
	
	#navbarResponsive.navbar-collapse
		ul#exampleAccordion.navbar-nav.navbar-sidenav.list-group.panel(style="overflow: auto;")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='GO Annotation')
					a.nav-link(data-toggle="collapse", href="#goAnnotationSearchCardBlock", aria-controls="goAnnotationSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-search
						span.nav-link-text
						| GO Annotation
					.card(style="width: 100%;")
						#goAnnotationSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#goAnnotationFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="goAnnotationSearchInput" placeholder="e.g. protein binding")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Dataset Name')
					a.nav-link(data-toggle="collapse", href="#datasetNameSearchCardBlock", aria-controls="datasetNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-database
						span.nav-link-text
						| Dataset Name
					.card(style="width: 100%;")
						#datasetNameSearchCardBlock.collapse.card-block(style="overflow-y: auto; overflow-x:hidden;")
							form-group.ui-front
								#datasetsSelector
							button#btnDatasetViewMore.btn.btn-block.btn-warning(type="button") View more
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Pathway Name')
					a.nav-link(data-toggle="collapse", href="#pathwayNameSearchCardBlock", aria-controls="pathwayNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-code-fork
						span.nav-link-text
						| Pathway Name
					.card(style="width: 100%;")
						#pathwayNameSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#pathwayFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="pathwayNameSearchInput" placeholder="e.g. Signal Transduction")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Location')
					a.nav-link(data-toggle="collapse", href="#locationSearchCardBlock", aria-controls="locationSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-location-arrow
						span.nav-link-text
						| Location
					.card(style="width: 100%;")
						#locationSearchCardBlock.collapse.card-block(style="overflow-y: auto; overflow-x:hidden;")
							#locationFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								div.row(style="align: center;")
									input(type="text" class="form-control" id="locationChromosomeSearchInput" placeholder="Chromosome (e.g. 12)" style="width: 100%; float:left; margin-left: 15px;")
								div.row(style="align: center;")
									input(type="text" class="form-control" id="locationStartSearchInput" placeholder="Start" style="width: 45%; float:left; margin-left: 15px;")
									input(type="text" class="form-control" id="locationEndSearchInput" placeholder="End" style="width: 45%;")
								button.btn.btn-success(type="button" style='width:100%' id="locationSearchButton") Go!
								button.btn.btn-danger(type="button" style='width:100%' id="locationResetButton") Reset
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Protein Domain Name')
					a.nav-link(data-toggle="collapse", href="#proteinDomainNameSearchCardBlock", aria-controls="proteinDomainNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-product-hunt
						span.nav-link-text
						| Protein Domain Name
					.card(style="width: 100%;")
						#proteinDomainNameSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#proteinDomainNameFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="proteinDomainNameSearchInput" placeholder="e.g. immunoglobulin subtype")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Interactions')
					a.nav-link(data-toggle="collapse", href="#interactionsSearchCardBlock", aria-controls="interactionsSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-podcast
						span.nav-link-text
						| Interactions
					.card(style="width: 100%;")
						#interactionsSearchCardBlock.collapse.card-block(style="overflow-y: auto; overflow-x:hidden;")
							#interactionsFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								div.row(style="align: center;")
									input(type="text" class="form-control" id="interactionsParticipant2SearchInput" placeholder="Optional: Participant 2 (symbol)" style="width: 100%; float:left; margin-left: 15px;")
								div.row(style="align: center;")
									select#interactionsTypeSelector.form-control(style="width: 45%; float:left; margin-left: 15px;")
										option(value="All") All (Type)
										option(value="physical") Physical
										option(value="genetic") Genetic
									select#interactionsDatasetSelector.form-control(style="width: 45%;")
										option(value="All") All (Set)
										option(value="BioGRID interaction data set") BioGRID
										option(value="IntAct interactions data set") IntAct
								button.btn.btn-success(type="button" style='width:100%' id="interactionsSearchButton") Go!
								button.btn.btn-danger(type="button" style='width:100%' id="interactionsResetButton") Reset
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Diseases (OMIM)')
					a.nav-link(data-toggle="collapse", href="#diseasesSearchCardBlock", aria-controls="diseasesSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-certificate
						span.nav-link-text
						| Diseases (OMIM)
					.card(style="width: 100%;")
						#diseasesSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#diseasesFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="diseasesSearchInput" placeholder="e.g. alzheimer disease")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='ClinVar')
					a.nav-link(data-toggle="collapse", href="#clinvarSearchCardBlock", aria-controls="clinvarSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-eyedropper
						span.nav-link-text
						| ClinVar
					.card(style="width: 100%;")
						#clinvarSearchCardBlock.collapse.card-block(style="overflow-y: auto; overflow-x:hidden;")
							form-group.ui-front
								div(style="align: center;")
									input(type="text" class="form-control" id="clinvarClinicalSignificanceSearchInput" placeholder="Significance (e.g. Pathogenic)" style="width: 100%;")
									input(type="text" class="form-control" id="clinvarTypeSearchInput" placeholder="Type (e.g. insertion)" style="width: 100%;")
								button.btn.btn-success(type="button" style='width:100%' id="clinvarSearchButton") Go!
								button.btn.btn-danger(type="button" style='width:100%' id="clinvarResetButton") Reset
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Expression')
					a.nav-link(data-toggle="collapse", href="#expressionSearchCardBlock", aria-controls="expressionSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-tasks
						span.nav-link-text
						| Expression
					.card(style="width: 100%;")
						#expressionSearchCardBlock.collapse.card-block(style="overflow-y: auto; overflow-x:hidden;")
							#expressionFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								div.row(style="align: center;")
									select#expressionExpressionSelector.form-control(style="width: 45%; float:left; margin-left: 15px;")
										option(value="UP") UP
										option(value="DOWN") DOWN
										option(value="NONDE") NONDE
									select#expressionDatasetSelector.form-control(style="width: 45%;")
										option(value="All") All (Set)
										option(value="ArrayExpress accession: E-MTAB-62") E-MTAB-62
										option(value="E-MTAB-513 illumina body map") Illumina bodymap
								div.row(style="align: center;")
									input(type="text" class="form-control" id="expressionPvalueSearchInput" placeholder="P-value (Opt)" style="width: 45%; float:left; margin-left: 15px;")
									input(type="text" class="form-control" id="expressionTstatisticSearchInput" placeholder="T-statistic (Opt)" style="width: 45%;")
								button.btn.btn-success(type="button" style='width:100%' id="expressionSearchButton") Go!
								button.btn.btn-danger(type="button" style='width:100%' id="expressionResetButton") Reset
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Protein Localisation')
					a.nav-link(data-toggle="collapse", href="#proteinLocalisationSearchCardBlock", aria-controls="proteinLocalisationSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-trello
						span.nav-link-text
						| Protein Localisation
					.card(style="width: 100%;")
						#proteinLocalisationSearchCardBlock.collapse.card-block(style="overflow-y: auto; overflow-x:hidden;")
							#proteinLocalisationFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								div.row
									input(type="text" class="form-control" id="proteinLocalisationCellTypeSearchInput" placeholder="Cell type (e.g. adipocytes)" style="width: 100%; margin-left: 15px;")
								div.row(style="align: center;")
									select#proteinLocalisationExpressionTypeSelector.form-control(style="width: 45%; float:left; margin-left: 15px;")
										option(value="All") All (Type)
										option(value="APE - two or more antibodies") Two or more antibodies
										option(value="Staining - one antibody only") One antibody only
									select#proteinLocalisationLevelSelector.form-control(style="width: 45%;")
										option(value="All") All (Level)
										option(value="Low") Low
										option(value="Medium") Medium
										option(value="High") High
										option(value="Not detected") Not detected
								div.row(style="align: center;")
									input(type="text" class="form-control" id="proteinLocalisationTissueSearchInput" placeholder="Tissue" style="width: 45%; float:left; margin-left: 15px;")
									select#proteinLocalisationRealibilitySelector.form-control(style="width: 45%;")
										option(value="All") All (Realibility)
										option(value="Low") Low
										option(value="Uncertain") Uncertain
										option(value="Supportive") Supportive
										option(value="High") High
								button.btn.btn-success(type="button" style='width:100%' id="proteinLocalisationSearchButton") Go!
								button.btn.btn-danger(type="button" style='width:100%' id="proteinLocalisationResetButton") Reset
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Organism short name')
					a.nav-link(data-toggle="collapse", href="#organismshortnameblock", aria-controls="organismshortnameblock", style='color:black')
						i.fa.fa-fw.fa-bug
						span.nav-link-text
						| Organism short name
					.card(style="width: 100%;")
						#organismshortnameblock.collapse.card-block(style="overflow: auto;")
							#organismshortnamelist.ul.list-group.list-group-flush