// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
	a.navbar-brand(href='/')
		img(src="/img/intermine-logo.png" style="width: 24px; height: 25px;")
	div#headerButtons.col-md-10.text-center
		a(href="/genes" data-toggle="tooltip" title="Change to Genes view")
			button.btn.btn-primary.btn-space(id="genesButton" type="button") Genes
		a(href="/proteins" data-toggle="tooltip" title="Change to Proteins view")
			button.btn.btn-default.btn-space(id="proteinsButton" type="button") Proteins
		select#mineSelector.form-control(style="width: 150px; position: fixed; top: 10px; right: 75px;")
	
	#navbarResponsive.navbar-collapse
		ul#exampleAccordion.navbar-nav.navbar-sidenav.list-group.panel(style="overflow: auto;")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='GO Annotation')
					a.nav-link(data-toggle="collapse", href="#goAnnotationSearchCardBlock", aria-controls="goAnnotationSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-search
						span.nav-link-text
						| GO Annotation
					.card(style="width: 100%;")
						#goAnnotationSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#goAnnotationFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="goAnnotationSearchInput" placeholder="e.g. protein binding")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Dataset Name')
					a.nav-link(data-toggle="collapse", href="#datasetNameSearchCardBlock", aria-controls="datasetNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-database
						span.nav-link-text
						| Dataset Name
					.card(style="width: 100%;")
						#datasetNameSearchCardBlock.collapse.card-block(style="overflow-y: auto; overflow-x:hidden;")
							form-group.ui-front
								#datasetsSelector
							button#btnDatasetViewMore.btn.btn-block.btn-warning(type="button") View more
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Pathway Name')
					a.nav-link(data-toggle="collapse", href="#pathwayNameSearchCardBlock", aria-controls="pathwayNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-code-fork
						span.nav-link-text
						| Pathway Name
					.card(style="width: 100%;")
						#pathwayNameSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#pathwayFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="pathwayNameSearchInput" placeholder="e.g. Signal Transduction")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Organism short name')
					a.nav-link(data-toggle="collapse", href="#organismshortnameblock", aria-controls="organismshortnameblock", style='color:black')
						i.fa.fa-fw.fa-bug
						span.nav-link-text
						| Organism short name
					.card(style="width: 100%;")
						#organismshortnameblock.collapse.card-block(style="overflow: auto;")
							#organismshortnamelist.ul.list-group.list-group-flush