// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
	a.navbar-brand(href='/')
		img(src="/img/intermine-logo.png" style="width: 24px; height: 25px;")
	div#headerButtons.col-md-10.text-center
		a(href="/genes" data-toggle="tooltip" title="Change to Genes view")
			button.btn.btn-primary.btn-space(id="genesButton" type="button") Genes
		a(href="/proteins" data-toggle="tooltip" title="Change to Proteins view")
			button.btn.btn-default.btn-space(id="proteinsButton" type="button") Proteins
		select.form-control(style="width: 150px; position: fixed; top: 10px; right: 75px;")
			option(value="HumanMine") HumanMine
	
	#navbarResponsive.navbar-collapse
		ul#exampleAccordion.navbar-nav.navbar-sidenav.list-group.panel(style="overflow: auto;")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='GO Annotation')
					a.nav-link(data-toggle="collapse", href="#goAnnotationSearchCardBlock", aria-controls="goAnnotationSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-search
						span.nav-link-text
						| GO Annotation
					.card(style="width: 100%;")
						#goAnnotationSearchCardBlock.show.collapse.card-block(style="overflow: auto;")
							#goAnnotationFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="goAnnotationSearchInput" placeholder="e.g. protein binding")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Dataset Name' style="overflow: auto;")
					a.nav-link(data-toggle="collapse", href="#datasetNameSearchCardBlock", aria-controls="datasetNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-database
						span.nav-link-text
						| Dataset Name
					.card(style="width: 100%;")
						#datasetNameSearchCardBlock.collapse.show.card-block
							form-group.ui-front
								#datasetsSelector
							button#btnDatasetViewMore.btn.btn-block.btn-warning(type="button") View more
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Pathway Name')
					a.nav-link(data-toggle="collapse", href="#pathwayNameSearchCardBlock", aria-controls="pathwayNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-code-fork
						span.nav-link-text
						| Pathway Name
					.card(style="width: 100%;")
						#pathwayNameSearchCardBlock.collapse.show.card-block(style="overflow: auto;")
							#pathwayFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="pathwayNameSearchInput" placeholder="Some pathway name...")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Location')
					a.nav-link(data-toggle="collapse", href="#locationSearchCardBlock", aria-controls="locationSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-location-arrow
						span.nav-link-text
						| Location
					.card(style="width: 100%;")
						#locationSearchCardBlock.collapse.show.card-block(style="overflow-y: auto; overflow-x:hidden;")
							#locationFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								div.row(style="align: center;")
									input(type="text" class="form-control" id="locationStartSearchInput" placeholder="Start" style="width: 45%; float:left; margin-left: 15px;")
									input(type="text" class="form-control" id="locationEndSearchInput" placeholder="End" style="width: 45%;")
								button.btn.btn-success(type="button" style='width:100%' id="locationSearchButton") Go!
								button.btn.btn-danger(type="button" style='width:100%' id="locationResetButton") Reset
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Protein Domain Name')
					a.nav-link(data-toggle="collapse", href="#proteinDomainNameSearchCardBlock", aria-controls="proteinDomainNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-search
						span.nav-link-text
						| Protein Domain Name
					.card(style="width: 100%;")
						#proteinDomainNameSearchCardBlock.show.collapse.card-block(style="overflow: auto;")
							#proteinDomainNameFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="proteinDomainNameSearchInput" placeholder="e.g. immunoglobulin subtype")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Organism short name')
					a.nav-link(data-toggle="collapse", href="#organismshortnameblock", aria-controls="organismshortnameblock", style='color:black')
						i.fa.fa-fw.fa-bug
						span.nav-link-text
						| Organism short name
					.card(style="width: 100%;")
						#organismshortnameblock.collapse.card-block(style="overflow: auto;")
							#organismshortnamelist.ul.list-group.list-group-flush