// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
	a.navbar-brand(href='/')
		img(src="/img/intermine-logo.png" style="width: 24px; height: 25px;")
	select#mineSelector.form-control(style="width: 200px; position: fixed; top: 10px; left: 75px;" data-toggle="tooltip" title="Select an InterMine")
	div#headerButtons.col-md-10.text-center
		a(href="/genes" data-toggle="tooltip" title="Change to Genes view")
			button.btn.btn-primary.btn-space(id="genesButton" type="button") Genes
		a(href="/proteins" data-toggle="tooltip" title="Change to Proteins view")
			button.btn.btn-default.btn-space(id="proteinsButton" type="button") Proteins
	button.btn.btn-primary(id="apiKeyManagerButton" style="position: fixed; top: 10px; right: 75px;" data-toggle="tooltip" title="Open the API Key manager")
		i.fa.fa-key

	#navbarResponsive.navbar-collapse
		ul#sidebarUl.navbar-nav.navbar-sidenav.list-group.panel(style="overflow: auto;")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Organism short name' id='organismFilterLi')
					a.nav-link(data-toggle="collapse", href="#organismshortnameblock", aria-controls="organismshortnameblock", style='color:black')
						i.fa.fa-fw.fa-lemon-o
						span.nav-link-text
						| Organism short name
					.card(style="width: 100%;")
						#organismshortnameblock.collapse.card-block(style="overflow: auto;")
							#organismshortnamelist.ul.list-group.list-group-flush
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Pathway Name' id='pathwayNameFilterLi')
					a.nav-link(data-toggle="collapse", href="#pathwayNameSearchCardBlock", aria-controls="pathwayNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-code-fork
						span.nav-link-text
						| Pathway Name
					.card(style="width: 100%;")
						#pathwayNameSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#pathwayFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="pathwayNameSearchInput" placeholder="e.g. Signal Transduction")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='GO Annotation' id='goAnnotationFilterLi')
					a.nav-link(data-toggle="collapse", href="#goAnnotationSearchCardBlock", aria-controls="goAnnotationSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-search
						span.nav-link-text
						| GO Annotation
					.card(style="width: 100%;")
						#goAnnotationSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#goAnnotationFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="goAnnotationSearchInput" placeholder="e.g. protein binding")

//API keys manager modal
#apiKeyManagerModal.modal.fade(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h4.modal-title API Keys Manager
			.modal-body
				#apiKeyManagerModalBodyText
					| Adding an API key allows you to save lists and load previously saved lists into the data browser. You&apos;ll need to paste one key for each InterMine you use. 
					a(href='https://intermine.readthedocs.io/en/latest/web-services/authentication/#authentication-for-existing-user-accounts-permanent-tokens' target='_blank') How do I find my API key?
					br
					br
				#apiKeyManagerModalKeysDiv(style="width: 50%; margin: 0 auto;")
			.modal-footer
				button.btn.btn-success(type='button' id="apiKeyManagerSaveButton") Save
				button.btn.btn-danger(type='button' data-dismiss='modal') Close