// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  a.navbar-brand(href='index.html') HumanMine Data Browser
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul#exampleAccordion.navbar-nav.navbar-sidenav
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='/')
          i.fa.fa-fw.fa-home
          span.nav-link-text
            | Dashboard
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Diseases')
        a.nav-link(href='diseases')
          i.fa.fa-fw.fa-database
          span.nav-link-text
            | Diseases
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Proteins')
        a.nav-link(href='proteins')
          i.fa.fa-fw.fa-database
          span.nav-link-text
            | Proteins
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Genes')
        a.nav-link(href='genes')
          i.fa.fa-fw.fa-database
          span.nav-link-text
            | Genes
      li.nav-item(data-toggle='tooltip', data-placement='right', title='GO Annotations')
        a.nav-link(href='goannotations')
          i.fa.fa-fw.fa-database
          span.nav-link-text
            | GO Annotations
    ul.navbar-nav.sidenav-toggler
      li.nav-item
        a#sidenavToggler.nav-link.text-center
          i.fa.fa-fw.fa-angle-left