// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light
	div(style="display: flex; align-items: center; margin: 0 5px;")
		a.navbar-brand(href='/')
			img(src="/img/intermine-logo.png" style="width: 24px; height: 25px;")
		select#mineSelector.form-control(style="min-width: 180px; width: 10vw;" data-toggle="tooltip" title="Select an InterMine")

	div#headerButtons.text-center

	div.options
		button.btn.btn-primary(id="APIKeyIconBlock" style="background-color: transparent; border-color: transparent; margin: 5px;")
			i.fa.fa-user-times(id="APIKeyIconNotAdded", style="color: #000000;" data-toggle="tooltip" title="You haven't added an API key for this mine and some functionality may be unavailable.")
			i.fa.fa-user(id="APIKeyIconAdded", style="color: #000000; display:none;" data-toggle="tooltip" title="You have added an API key for this mine.")
		button.btn.btn-primary(id="resetAllButton" style="background-color: #868e96; border-color: #868e96; margin: 5px;" data-toggle="tooltip" title="Reset all the filters")
			i.fa.fa-recycle(style="margin-right: 5px;")
			span.nav-link-text
			| Reset
		button.btn.btn-primary(id="viewConstraintsButton" style="background-color: #2439d8; border-color: #2439d8; margin: 5px;" data-toggle="tooltip" title="See the current constraints")
			i.fa.fa-adjust(style="margin-right: 5px;")
			span.nav-link-text
			| Constraints
		button.btn.btn-primary(id="viewManagerButton" style="background-color: #2439d8; border-color: #2439d8; margin: 5px;" data-toggle="tooltip" title="Open the views manager")
			i.fa.fa-eye(style="margin-right: 5px;")
			span.nav-link-text
			| Add view
		button.btn.btn-primary(id="apiKeyManagerButton" style="background-color: #2439d8; border-color: #2439d8; margin: 5px;" data-toggle="tooltip" title="Open the API Key manager")
			i.fa.fa-key(style="margin-right: 5px;")
			span.nav-link-text
			| Add API key
		button.btn.btn-primary(id="listManagerButton" style="background-color: #2439d8; border-color: #2439d8; margin: 5px;" data-toggle="tooltip" title="Lists")
			i.fa.fa-list(style="margin-right: 5px;")
			span.nav-link-text
			| Lists

	#navbarResponsive.navbar-collapse
		ul#sidebarUl.navbar-nav.navbar-sidenav.list-group.panel(style="overflow: auto;")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Organism short name' id='organismFilterLi')
					a.nav-link(data-toggle="collapse", href="#organismshortnameblock", aria-controls="organismshortnameblock", style='color:black')
						i.fa.fa-fw.fa-lemon-o
						span.nav-link-text
						| Organism
					.card(style="width: 100%;")
						#organismshortnameblock.collapse.card-block(style="overflow: auto;")
							#organismshortnamelist.ul.list-group.list-group-flush
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Pathway Name' id='pathwayNameFilterLi')
					a.nav-link(data-toggle="collapse", href="#pathwayNameSearchCardBlock", aria-controls="pathwayNameSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-code-fork
						span.nav-link-text
						| Pathway Name
					.card(style="width: 100%;")
						#pathwayNameSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#pathwayFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="pathwayNameSearchInput" placeholder="e.g. Signal Transduction")
			li.nav-item(data-toggle='tooltip', data-placement='right', title='GO Annotation' id='goAnnotationFilterLi')
					a.nav-link(data-toggle="collapse", href="#goAnnotationSearchCardBlock", aria-controls="goAnnotationSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-search
						span.nav-link-text
						| GO Annotation
					.card(style="width: 100%;")
						#goAnnotationSearchCardBlock.collapse.card-block(style="overflow: auto;")
							#goAnnotationFilterList.ul.list-group.list-group-flush
							form-group.ui-front
								input(type="text" class="form-control" id="goAnnotationSearchInput" placeholder="e.g. protein binding")
//API keys manager modal
#apiKeyManagerModal.modal.fade(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h4.modal-title API Keys Manager
			.modal-body
				#apiKeyManagerModalBodyText
					| Adding an API key allows you to save lists and load previously saved lists into the data browser. You&apos;ll need to paste one key for each InterMine you use. 
					a(href='https://intermine.readthedocs.io/en/latest/web-services/authentication/#authentication-for-existing-user-accounts-permanent-tokens' target='_blank') How do I find my API key?
					br
					br
				#apiKeyManagerModalKeysDiv(class="container")
			.modal-footer
				button.btn.btn-success(type='button' id="apiKeyManagerSaveButton") Save
				button.btn.btn-danger(type='button' data-dismiss='modal' style='position:absolute; left: 15px;') Close

//Add new view modal
#viewManagerModal.modal.fade(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h4.modal-title Views manager
			.modal-body
				#viewManagerModalBodyText
					| In this modal you are able to manage the custom views for the current mine, as well as adding new ones.
					br
					br
					center
						b Current custom views:
					br
					#viewManagerModalCurrentViewsDiv(class="container")
					br
					br
					hr
					center
						b Add a new view:
					br
					br
					#viewManagerModalAddViewDiv(class="container")
						.viewManagerElement
							.input-group
								select(name="addViewDropDown", id="addViewDropDown")
								span.input-group-btn
									button.btn.btn-success(type='button' id="viewManagerAddViewButton") Add
					br
			.modal-footer
				button.btn.btn-danger(type='button' data-dismiss='modal') Close

//List manager modal
#listManagerModal.modal.fade(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h4.modal-title List Manager
				#listManagerModalButtons
					button.btn.btn-success(type='button' id="listManagerSaveButton", disabled="true") Apply
					button.btn(type='button' id="listManagerResetButton", disabled="true") Reset
					button.btn.btn-danger(type='button' data-dismiss='modal') Close
			.modal-body
				| In this modal you can filter to see only the genes in a InterMine list. Please note that when filtering by a list, the current data constraints will be reset.
				br
				br
				ul#savedLists.list-group
					| Loading data...
			.modal-footer

//Constraints modal
#constraintsModal.modal.fade(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h4.modal-title Constraints Viewer
				#constraintsModalButtons
					button.btn.btn-danger(type='button' data-dismiss='modal') Close
			.modal-body
				| In this modal you can, in a single view, see what constraints you have applied.
				br
				br
				ul#constraintsModalList.list-group
					| Loading...
			.modal-footer