// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
	a.navbar-brand(href='index.html') InterMine Data Browser
	div#headerButtons.col-md-8.text-center
		a(href="/proteins" data-toggle="tooltip" title="Change to Proteins view")
			button.btn.btn-primary.btn-space(type="button") Proteins
		a(href="/genes" data-toggle="tooltip" title="Change to Genes view")
			button.btn.btn-primary.btn-space(type="button") Genes
	#navbarResponsive.collapse.navbar-collapse
		ul#exampleAccordion.navbar-nav.navbar-sidenav
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
				a.nav-link(href='/', style='color:black')
					i.fa.fa-fw.fa-home
					span.nav-link-text
					| Dashboard
			.card(style="width: 100%;")
				.card-header
					| Primary classes
				ul.list-group.list-group-flush
					li.list-group-item
						a.nav-link(href='proteins', style='color:black')
							i.fa.fa-fw.fa-database
							span
							| Proteins
					li.list-group-item
						a.nav-link(href='genes', style='color:black')
							i.fa.fa-fw.fa-database
							span
							| Genes
			.card(style="width: 100%;")
				.card-header
					| Test 2
				ul.list-group.list-group-flush
					li.list-group-item
						a.nav-link(href='proteins', style='color:black').text-weight-normal
							i.fa.fa-fw.fa-database
							span
							| Proteins
					li.list-group-item
						a.nav-link(href='genes', style='color:black').text-weight-normal
							i.fa.fa-fw.fa-database
							span
							| Genes