// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
	a.navbar-brand(href='/')
		img(src="/img/intermine-logo.png" style="width: 40px; height: 37px;")
	div#headerButtons.col-md-10.text-center
		a(href="/genes" data-toggle="tooltip" title="Change to Genes view")
			button.btn.btn-primary.btn-space(id="genesButton" type="button") Genes
		a(href="/proteins" data-toggle="tooltip" title="Change to Proteins view")
			button.btn.btn-default.btn-space(id="proteinsButton" type="button") Proteins
		select.form-control(style="width: 150px; position: fixed; top: 10px; right: 75px;")
			option(value="HumanMine") HumanMine
	
	#navbarResponsive.navbar-collapse
		#httpsAlert.alert
			span.closebtn(onclick="this.parentElement.style.display='none';") ×
			| You're currently viewing the HTTPS website. Due to security limitations, we are unable to show results from HTTP-only InterMines. You may be able to see more results if you <a href="http://im-browser-prototype.herokuapp.com/">reload this site</a> via HTTP.
		br
		ul#exampleAccordion.navbar-nav.navbar-sidenav.list-group.panel
			li.nav-item(data-toggle='tooltip', data-placement='right', title='GO Annotation')
					a.nav-link(data-toggle="collapse", href="#goAnnotationSearchCardBlock", aria-controls="goAnnotationSearchCardBlock", style='color:black')
						i.fa.fa-fw.fa-search
						span.nav-link-text
						| GO Annotation
					.card(style="width: 100%; max-width: 250px")
						#goAnnotationSearchCardBlock.collapse.card-block(style="overflow: auto;")
							form-group.ui-front
								input(type="text" class="form-control" id="goAnnotationSearchInput" placeholder="e.g. Something")
								button.btn.btn-default(type="button" style='width:100%') Go!
			li.nav-item(data-toggle='tooltip', data-placement='right', title='Clear filters')
				a.nav-link(href='javascript:location.reload();', style='color:black')
					i.fa.fa-fw.fa-trash
					span.nav-link-text
					| Clear filters
			.card(style="width: 100%; max-width: 250px")
				.card-header
					a(data-toggle="collapse" href="#organismshortnameblock" aria-controls="organismshortnameblock")
						i.fa.fa-caret-down  Organism short name
				#organismshortnameblock.collapse.card-block(style="overflow: auto;")
					#organismshortnamelist.ul.list-group.list-group-flush