// Bootstrap core CSS
link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet' id='bootstrap-css')
// Custom fonts for this template
link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
