// Custom styles for this template
link(href='http://cdn.intermine.org/js/intermine/im-tables/2.0.0-beta/main.sandboxed.css', rel='stylesheet')
link(href='stylesheets/hmb-style-main.css', rel='stylesheet')
