# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# user specific files
*/**/.DS_Store
.vscode

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variables file
.env
