doctype html
html(lang='en')

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')

		include includes/css/core.pug

		// Page level plugin CSS
		link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')

		include includes/css/custom.pug

	body#page-top.fixed-nav.sticky-footer.bg-dark
		include includes/navbar.pug
		.content-wrapper.row
			.container-fluid
				.row
				
				.col-xs-12
					.card(style="width: 100%; height: 100%;")
						.card-header
							i.fa.fa-pie-chart
							|  Number of results for Gene by organism
						.card-body
							.row
								canvas#PieChart(width='100%', height='150%')
					
				
				.row.row-centered
				
				div#dataTable

			include includes/footer.pug

			include includes/scroll-to-top.pug

			include includes/js/core.pug

			// Page level plugin JavaScript
			script(src='vendor/datatables/jquery.dataTables.js')
			script(src='vendor/datatables/dataTables.bootstrap4.js')

			include includes/js/custom.pug

			// Custom scripts for this page
			script(src='javascripts/genes-view.min.js')
			script(src='javascripts/sidebar-events.min.js')
			script(src='javascripts/piechart-events.min.js')