.b1pijiy6 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-bottom: 40px;
}
.s1eofij7 {
	margin: 0px 16px;
}
.s1aj6mbh {
	width: 30px;
}
