.S_QueryController_s1ch7dbf {
	padding-top: 10px;
	margin: 0 20px;
}
.S_Heading_s4nsvqf {
	color: var(--blue9);
}
.S_PopupContainer_svmu0ek {
	min-width: 200px;
}
.NonIdealState_n1vofvjk {
	padding-bottom: 32px;
	border-radius: 3px;
}
.NonIdealState_n1vofvjk .bp3-non-ideal-state-visual {
	color: var(--yellow5);
}
.div_d7x4ab4 {
	padding: 32px;
}
.Popover_p1mcz2un {
	margin-top: 40px;
}
.span_s3v4wr1 {
	color: #48aff0;
}
