.S_Cell_s1kye2w5.S_Cell_s1kye2w5 a {
	font-weight: normal;
}
.S_Cell_s1kye2w5.S_Cell_s1kye2w5 a .bp3-icon {
	padding-right: 5px;
}
.S_RowCount_s125zdeh {
	font-size: var(--fs-desktopM1);
	font-weight: var(--fw-semibold);
	margin-bottom: 20px;
	margin-left: 10px;
	display: inline-block;
}
