$fs-desktop-s1: 12px;
$fs-desktop-s2: 14px;
$fs-desktop-m1: 16px;
$fs-desktop-m2: 20px;
$fs-desktop-m3: 24px;
$fs-desktop-l1: 32px;
$fs-desktop-l2: 40px;
$fs-desktop-l3: 48px;

$fs-mobile-s1: 12px;
$fs-mobile-s2: 14px;
$fs-mobile-m1: 16px;
$fs-mobile-m2: 18px;
$fs-mobile-m3: 22px;
$fs-mobile-l1: 26px;
$fs-mobile-l2: 32px;
$fs-mobile-l3: 40px;

$fs-weight-light: 300;
$fs-weight-regular: 400;
$fs-weight-medium: 500;
$fs-weight-semibold: 600;
$fs-weight-bold: 700;
