.StyledTable_s17lxzke {
	width: 100%;
}
.StyledCell_svqublt.StyledCell_svqublt a {
	font-weight: normal;
}
.StyledCell_svqublt.StyledCell_svqublt a .bp3-icon {
	padding-right: 5px;
}
.span_sldgu92 {
	display: block;
}
