.StyledTable_s1cjvbmz {
	width: 100%;
}
.StyledCell_s1k6fnkk.StyledCell_s1k6fnkk a {
	font-weight: normal;
}
.StyledCell_s1k6fnkk.StyledCell_s1k6fnkk a .bp3-icon {
	padding-right: 5px;
}
.span_s1quxvh0 {
	display: block;
}
