// Global styling for this template

/* The alert message box */
.alert {
    background-color: #f44336; /* Red */
    color: white;
	position:absolute;
	top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  transform: translateY(-50%);
	z-index:1000;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: $sticky-footer-height;
  .content-wrapper {
    min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
  }
}

.checked {
    background-color: #a4eafc;
}

body.fixed-nav {
  padding-top: $navbar-base-height;
  @media screen and (max-width: 800px) {
    padding-top: calc(#{$navbar-base-height} * 3);
  }
}

.content-wrapper {
  min-height: calc(100vh - #{$sticky-footer-height});
  padding-top: 1rem;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}
