// Global styling

/* The alert message box */
.alert {
    background-color: #f44336; /* Red */
    color: white;
	position:absolute;
	top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  transform: translateY(-50%);
	z-index:1000;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.centeredSelect {
  display: block;
  margin: 0 auto;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: $sticky-footer-height;
  .content-wrapper {
    min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
  }
}

.checked {
    background-color: #a4eafc;
}

body.fixed-nav {
  padding-top: 0 !important;
  background: #e9ecef;
}

.content-wrapper {
  min-height: calc(100vh - #{$sticky-footer-height});
  padding-top: 1rem;
}

// Scroll to Top Button
#scrollToTopBtn {
  position: fixed;
  right: 30px;
  bottom: 50px;
  padding: 4px 8px;
  background-color: #0044cc;
  color: #fff;
  opacity: 0.5;
  display: none;
  z-index: 9;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 785px){
  #scrollToTopBtn{bottom: 75px;}
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
}
.ui-widget-content .ui-state-active {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
}

#clearFilterButton {
	background-color: #c1c1c1;
}

#sidebarSeparator {
	width: 100%;
	background-color: rgba(0,0,0,.0);
	border-radius: 0px;
}

.im-empty-apology .alert .btn {display:none}

.im-join-manager-button .btn {display:none}

.im-filter-dialogue-button .btn {display:none}

.im-column-manager-button .btn {display:none}

.im-history .btn {display:none}

.imtables .dropdown-menu {min-width: 360px}

.imtables .dropdown-toggle::after {display:none}

.aligned_form {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  height: 75px;
}

.container {
  /* Flex Properties */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.apiKeyElement {
  display: flex;
  align-items: center;
}

label {
  width: 200px;
}

button{
  padding: 5px;
}

#graphsBoxBody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.options {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 991px) {
  #graphsBoxBody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  
  .options {
    flex-wrap: wrap;
  }
}

.viewManagerElement {
  display: flex;
  align-items: center;
  padding: 5px;
}

select, button {
  vertical-align:top;
 }

.saved-list-item {
  overflow-x: auto;
  cursor: pointer;
}

#listManagerSaveButton {
  margin-right: 5px;
}

#listManagerResetButton {
  margin-right: 5px;
  background-color: #6c757d;
  color: white;
}

input, select {
  width:100%;
}
