script(src='https://cdn.rawgit.com/intermine/CDN/feb5bb77/js/intermine/imjs/3.15.0/im.min.js')
script(src='http://cdn.intermine.org/js/intermine/im-tables/2.0.0-beta/imtables.js')
script(src='vendor/chart.js/Chart.min.js')
script(src='//code.jquery.com/jquery-1.11.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')